@model PagedList.IPagedList<Models.KhachHang>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Danh sách khách hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var tendoan = TempData["TenDoan"];
}
<h2>Danh sách khách hàng @if (tendoan != null)
{@("của " + tendoan)}</h2>
<a href="@Url.Action("Them", "KhachHang")" title="Thêm khách hàng" class="btn btn-success">Thêm khách mới</a>
@if (tendoan == null)
{
    using (Html.BeginForm("Danhsach", "KhachHang", FormMethod.Get))
    {<br />
    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        <div class="row">
            <div class="col-md-3">
                <input type="text" value="@ViewBag.SearchString" class="form-control" name="searchString" style="width:100%" placeholder="Nhập họ tên khách hàng">
            </div>
            <div class="col-md-4">
                <button id="btnSearch" class="btn btn-success">Tìm</button>
            </div>

        </div>
    </div>
}
}
<br />
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Họ và tên</th>
                <th>CMND</th>
                <th>Địa chỉ</th>
                <th>Giới tính</th>
                <th>Số điện thoại</th>
                <th>Xem quá trình đi</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.TenKH</td>
                    <td>@item.CMND</td>
                    <td>@item.DiaChi</td>
                    <td>@item.GioiTinh</td>
                    <td>@item.SoDT</td>
                    <td><a href="@Url.Action("QuaTrinh", "KhachHang", new { MaKH = item.MaKH})" title="Xem quá trình đi tour" class="btn-images btn btn btn-default">Xem</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
@Html.PagedListPager(Model, page => Url.Action("Danhsach", "KhachHang", new {page, @searchString = @ViewBag.SearchString }))
