@model Models.Doan
@{
    ViewBag.Title = "Them";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var kh = TempData["KH"] as IEnumerable<Models.KhachHang>;
    var kh_dachon = Session["KH_DaChon"] as IEnumerable<Models.KhachHang>;
    var m = TempData["Modal"];
}
@if (TempData["TenDoanMoi"] != null)
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#myModal1').modal('show');
        });
    </script>
}
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Thông báo</h4>
            </div>
            <div class="modal-body">
                @if (TempData["CoKH"] == "1")
                {
                    <p>Đã có sự trùng ngày với đoàn @TempData["TenDoanMoi"]. Bạn có muốn thêm khách hàng vào @TempData["TenDoanMoi"] không?</p>
                    <input type="text" value="@TempData["MaDoanMoi"]" id="madoanmoi" hidden />                }
                else
                {
                    <p>Đã có sự trùng ngày với đoàn @TempData["TenDoanMoi"]. Vui lòng chọn ngày khác.</p>
                }
            </div>
            <div class="modal-footer">
                @if (TempData["CoKH"] == "1")
                {
                    <button type="button" class="btn btn-primary" id="btnChon1">Chọn</button>}
                <button type="button" class="btn btn-default" data-dismiss="modal" id="btnDong">Đóng</button>
            </div>
        </div>
    </div>
</div>
<h3>Thông tin khách hàng</h3>
<button type="button" class="btn btn-default btn-chon" data-toggle="modal" data-target="#myModal" id="myModal11">
    Danh sách khách hàng
</button>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Chọn khách hàng </h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table>
                        <tr><td><input type="text" value="@ViewBag.SearchString" placeholder="Nhập họ tên vào đây để tìm" class="form-control" name="searchString" style="width:100%" id="txtSearch" onkeyup="Search()"></td></tr>
                        <tr>
                            <td>
                                <div id="divPartialView">
                                    @Html.Partial("~/Views/Doan/DSKhach.cshtml", kh)
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnChon">Chọn</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<br />
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>STT</th>
                <th>Họ và tên</th>
                <th>CMND</th>
                <th>Địa chỉ</th>
                <th>Giới tính</th>
                <th>Số điện thoại</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
            @if (kh_dachon != null)
            {
                int index = 1;
                foreach (var item in kh_dachon)
                {
                    <tr>
                        <td>@index <input type="hidden" value="@item.MaKH" name="Makh1[@index]"></td>
                        <td>@item.TenKH</td>
                        <td>@item.CMND</td>
                        <td>@item.DiaChi</td>
                        <td>@item.GioiTinh</td>
                        <td>@item.SoDT</td>
                        <td><button type="button" class="btn btn-primary btnXoaKH" data-id="@item.MaKH">Xoá</button></td>
                    </tr>
                    index = index + 1;
                }
            }
        </tbody>
    </table>
</div>
@using (Html.BeginForm("Them", "Doan", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        <h3>Thông tin đoàn khách</h3>
        @Html.HiddenFor(model => model.MaTour, new { Value = TempData["MaTour"], id = "maTour" })
        <div class="form-group">
            @Html.LabelFor(model => model.TenDoan, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.TenDoan, new { @class = "form-control", id = "TenDoan" })
                @Html.ValidationMessageFor(model => model.TenDoan, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.NoiDung, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.NoiDung, new { @class = "form-control", id = "NoiDung" })
                @Html.ValidationMessageFor(model => model.NoiDung, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.NgayDi, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="date" name="ngaydi" class="form-control" id="NgayDi" />
                @Html.ValidationMessageFor(model => model.NgayDi, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.NgayKT, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="date" name="ngaykt" class="form-control" id="NgayKT" />
                @Html.ValidationMessageFor(model => model.NgayKT, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm đoàn mới" class="btn btn-success" onclick="return CheckInput();" />
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    function Check() {
        var kt = true;
        var ten = document.getElementById("TenDoan").value;
        var thongtin = document.getElementById("NoiDung").value;
        var ngaydi = document.getElementById("NgayDi").value;
        var ngaykt = document.getElementById("NgayKT").value;
        if (ten == null || ten=="")
            kt = false;
        if (thongtin == null || thongtin=="")
            kt = false;
        if (ngaydi == null || ngaydi=="")
            kt = false;
        if (ngaykt == null || ngayden=="")
            kt = false;
        if (ngaydi > ngaykt)
            kt = false;
        return kt;
    }
    function CheckInput() {
        if (Check())
            return true;
        else {
            alert("Vui lòng điền lại.");
            return false;
        }
    }
    $('input[name^="Makh1"]').each(function () {
        var val = $(this).val();
        $('input:checkbox[value="' + val + '"]').prop('checked', true);
    });
    function Search() {
        var searchVal = $("#txtSearch").val();
        $.ajax({
            type: "POST",
            url: '/Doan/DSKhach',
            data: { searchString: searchVal }, 
            dataType: 'html', 
            success: function (data) {
                $('#divPartialView').html(data);
            }
        });
    }
    $('#btnChon').off('click').on('click', function () {
        var arrayid = [];
        $("input:checked").each(function () {
            arrayid.push($(this).val());
        });
        $.ajax({
            url: '/Doan/ChonKH',
            type: 'POST',
            data: { arrayid: JSON.stringify(arrayid) },
            dataType: 'json',
            success: function (response) {
                if (response.status) {
                    $('#myModal').modal('hide');
                    location.reload();
                }
            }
        });
    });
    $('#btnChon1').off('click').on('click', function () {
        var madoanmoi = $("#madoanmoi").val();
        var matourmoi = $("#maTour").val();
        $.ajax({
            url: '/Doan/ThemDoanMoi',
            type: 'POST',
            data: {
                madoan: madoanmoi,
                matour: matourmoi,
            },
            dataType: 'json',
            success: function (response) {
                if (response.status == 0) {
                    $('#myModal1').modal('hide');
                    alert("Đã có khách hàng trong đoàn đã chọn. Vui lòng chọn khách hàng khác.");
                }
                if (response.status == 1) {
                    window.location.href = '/Doan/Danhsach?MaTour=' + matourmoi;
                }
            }
        });
    });
    $('.btnXoaKH').off('click').on('click', function () {
        var id = $(this).data('id');
        $.ajax({
            url: '/Doan/XoaKH',
            type: 'POST',
            data: { makh: id },
            dataType: 'json',
            success: function (response) {
                if (response.status) {

                    location.reload();
                }
            }
        });
    });
</script>
