@model PagedList.IPagedList<Models.Tour>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Danhsach";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>DANH SÁCH TOUR</h2>
@using (Html.BeginForm("Danhsach", "Tour", FormMethod.Get))
{
    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        <div class="row">
            <div class="col-md-3">
                <input type="text" value="@ViewBag.SearchString" class="form-control" name="searchString" style="width:100%" placeholder="Nhập tên tour">
            </div>
            <div class="col-md-4">
                <button id="btnSearch" class="btn btn-success">Tìm</button>
            </div>

        </div>
    </div>
}
<br />
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Tên tour</th>
                <th>Thông tin tour</th>
                <th>Giá (VNĐ)</th>
                <th>Đặt tour</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr id="row_@item.MaTour">
                    <td>@item.TenTour</td>
                    <td>@item.ThongTinTour</td>
                    <td>@Html.DisplayFor(x => item.GiaTour)</td>
                    <td>
                        <a href="@Url.Action("Danhsach", "Doan", new { MaTour = item.MaTour})" class="btn-images btn btn btn-default">Đặt</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @Html.PagedListPager(Model, page => Url.Action("Danhsach", "Tour", new { page, @searchString = @ViewBag.SearchString }))
</div>
